.popup__form-button-submit{
  margin-top: 27px;
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  background: #000000;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) {
.popup__form-button-submit{
  width: 238px;
  height: 46px;
}
}

.popup__form-button-submit:hover {
  opacity: 0.6;
}