.elements__basket-button {
  position: absolute;
  outline: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  top: 20px;
  right: 20px;
}

.elements__items-basket-btn:hover {
  opacity: 0.6;
}