.profile__subtitle{
  margin: 0;
  padding-top: 8px;
  width: 336px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  /* padding-top: 16px; */
}