.popup__form{
  margin: 195px auto;
  width: 430px;
  height: 330px;
  background: #ffffff;
  display: flex;
  /* gap: 20px; */
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}


@media (max-width: 767px) {
  .popup__form {
    width: 282px;
    height: 322px;
  }
}