.profile__author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .profile__author {
    margin-top:2px;
    flex-direction: column;
    padding-top: 0px;
  }
}