.profile__author{
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .profile__author {
    flex-direction: column;
    padding-top: 42px;
  }
}