.elements__like-button_active{
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  background-image: url("../../../../images/like_active.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  display: block;
  flex-shrink: 0;
}
/* 
.elements__like-button_active:hover {
  opacity: 0.6;
} */