.popup__input-desciptoin{
  margin-bottom: 21px;
  width: 358px;
  height: 27px;
  border: 0;
  border-bottom: 1px solid #000000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 767px) {
  .popup__input-desciptoin{
    width: 238px;
    height: 27px;
  }
  }