.popup__button-close-image{
  width: 32px;
  height: 32px;
  display: block;
  background: #FFFFFF;
}


@media (max-width: 767px) {
.popup__button-close-image {
  /* width: 7.5px;
  height: 7.5px;
} */
}