.popup__form-button-close{
  position: absolute;
  top: -30px;
  right: -30px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: 1px solid #FFFFFF;
  background: url('../../../images/Close\ Icon.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;


}

@media (max-width: 767px) {
.popup__form-button-close {
width: 18px;
height: 18px;
}
}

.popup__form-button-close:hover {
  opacity: 0.6;
}