.popup__button-submit {
  padding: 0;
  margin-top: 17px;
  margin-bottom: 35px;
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  background: #000000;
  border: none;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    margin: 11px 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__button-submit:hover {
  opacity: 0.8;
}